.try-add-utton {
	display: flex;
	align-items: center;
	height: 30px;
	padding: 0 15px;
	font-size: 14px;
	text-align: center;
	letter-spacing: .5px;
	border: 1px solid transparent;
	border-color: white;
	border-radius: 5px;
	transition: background-color .2s, border-color .2s;
	color: white;
	background-color: #010101;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.language {
	position: relative;
	cursor: pointer;
}

.language-button {
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 5px;
	display: block;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

.dropDownLanguage {
	position: absolute;
	top: 30px;
	left: 0;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	width: 120px;
	display: none;
	z-index: 10;
}
.languages-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.languages-item {
	padding: 8px;
	text-align: center;
}

.languages-item a {
	color: black;
	text-decoration: none;
	display: block;
	transition: background 0.2s;
}

.languages-item a:hover {
	background: #f1f1f1;
}

.language:hover .dropDownLanguage {
	display: block;
}

.header-auth a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 5px 10px;
	border-radius: 5px;
	transition: background 0.2s;
}

.header-auth a:hover {
	color: red;
}
button {
	border: none;
	background: none;
	font-size: 14px;
	cursor: pointer;
}

.widget {
	display: flex;
	align-items: center;
	gap: 15px;
	font-family: Arial, sans-serif;
	margin-left: 76px;
}

.try-add-button {
	background-color: #ff6600;
	color: white;
	padding: 8px 12px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.try-add-button:hover {
	background-color: #e65c00;
}

.language {
	position: relative;
}

.language-button {
	padding: 5px;
	cursor: pointer;
}

.dropDownLanguage {
	position: absolute;
	top: 30px;
	left: 0;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	width: 120px;
	z-index: 10;
	display: none; /* Hide by default */
}

.dropDownLanguage.show {
	display: block;
}

.languages-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.languages-item {
	padding: 8px;
	text-align: center;
}

.link-default {
	color: black;
	background: none;
	text-align: center;
	width: 100%;
	padding: 8px;
	border: none;
	cursor: pointer;
	transition: background 0.2s;
}

.link-default:hover {
	background: #f1f1f1;
}

.auth-button {
	padding: 5px 10px;
	border-radius: 5px;
	transition: background 0.2s;
}

.auth-button:hover {
	background: #f1f1f1;
}

.search > img {
	width: 15px;
	height: 15px;
}

.input-search {
	display: none;
}
.search:hover .input-search {
	display: block;
	width: 80px;
}
